body {
    background-color: #fbfbf9;
    /* cotton */
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 8px;
}

/* check if this works, maybe redundant */

a:hover {
    background-color: #ddd;
    color: black;
}

/* check if this works, maybe redundant */

a,
a:link,
a:visited {
    color: white;
    size: 20px;
}

/* check if this works, maybe redundant */

img {
    width: 30%;
    height: auto;
    opacity: 1;
}

/* have not used so far */

p.welcome {
    position: fixed;
    bottom: 31px;
    left: 350px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

/* have not used so far */

/* Landing page 

.picture {
    position: fixed;
    bottom: 50;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle {
    position: absolute;
    bottom: 10px;
    right: 630px;
    font-family: 'Vina Sans';
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typewriter {
    min-height: 30%;
    overflow: hidden;
    padding: 30px;
    color: #FFFFF3;
    font-family: 'Anonymous Pro', monospace;
    background-color: #2D033B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}

.line {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid #FFFFF3;
    font-family: 'Vina Sans';
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.type {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: #FFFFF3;
    }

    to {
        border-right-color: transparent;
    }
}
*/

/* intro */
/* if want to do for entire intro only eg bg pic then use * {} */

span {
    color: #b0f2c2;
}

h1 {
    color: #0b1623;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3 {
    color: #0b1623;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: #0b1623;
    letter-spacing: 2px;
    font-size: 20px;
}

.intro {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.main {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.intro-socials {
    list-style: none;
    display: flex;
    margin: 1rem 0 5rem 0;
}

.intro-socials li {
    margin: 0 10px;
}

.intro-socials a {
    text-decoration: none;
    color: #0b1623;
}

.intro-socials a i {
    font-size: 1.6rem;
    transition: color 0.4s ease;
}

.intro-socials a:hover i {
    color: #b0f2c2;
    transform: scale(1.3);
}

.learn-more-button {
    background-color: #b0f2c2;
    color: white;
    text-decoration: none;
    border: 3px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform 0.4s;
    font-size: 20px;
    text-shadow: 4px 2px 4px #000;
}

.learn-more-button:hover {
    background-color: #b0f2c2;
    border: 3px solid;
    cursor: pointer;
}

/* skills */
h4 {
    color: black;
    font-size: 28px;
}

.diamond {
    position: fixed;
    bottom: 380px;
    left: 600px;
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 200px;
    height: 280px;
}

.diamond:hover {
    border: 3px solid;
    cursor: pointer;
    color: black;
}

.club {
    position: fixed;
    bottom: 380px;
    left: 850px;
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 200px;
    height: 280px;
}

.club:hover {
    border: 3px solid;
    cursor: pointer;
    color: black;
}

.dia1 {
    position: fixed;
    bottom: 387px;
    left: 743px;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}

.clu1 {
    position: fixed;
    bottom: 387px;
    left: 993px;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}

.dia2 {
    position: fixed;
    bottom: 585px;
    left: 607px;
}

.clu2 {
    position: fixed;
    bottom: 585px;
    left: 858px;
}

/* education */
.ubc {
    position: fixed;
    bottom: 470px;
    left: 525px;
    opacity: 0.9;
}

.grow1 {
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    height: 60px;
    width: 15%;
    margin: 5px 1% 5px 1%;
    float: left;
    position: absolute;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    text-align: center;
    overflow: hidden;
    transition: 1.5s;
    border: 3px solid;
    cursor: pointer;
    color: black;
    position: fixed;
    bottom: 370px;
    left: 480px;
    color: white;
}

.grow1:hover {
    height: 300px;
    width: 21%;
    background-color: #FCFC;
    opacity: 1;
    color: black;
}

/* experience */
.one {
    background-color: transparent;
    width: 150px;
    height: 150px;
    perspective: 1000px;
    position: absolute;
    top: 85px;
    left: 500px;
}

.one-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.one:hover .one-inner {
    transform: rotateY(180deg);
}

.one-front,
.one-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.one-front {
    background-color: #bbb;
    color: black;
}

.one-back {
    background-color: #FCFC;
    color: black;
    text-shadow: 2px 2px white;
    transform: rotateY(180deg);
}

.two {
    background-color: transparent;
    width: 150px;
    height: 150px;
    perspective: 1000px;
    position: absolute;
    top: 85px;
    left: 710px;
}

.two-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.two:hover .two-inner {
    transform: rotateY(180deg);
}

.two-front,
.two-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.two-front {
    background-color: #bbb;
    color: black;
}

.two-back {
    background-color: #FCFC;
    color: black;
    text-shadow: 2px 2px white;
    transform: rotateY(180deg);
}

.three {
    background-color: transparent;
    width: 150px;
    height: 150px;
    perspective: 1000px;
    position: absolute;
    top: 85px;
    left: 930px;
}

.three-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.three:hover .three-inner {
    transform: rotateY(180deg);
}

.three-front,
.three-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.three-front {
    background-color: #bbb;
    color: black;
}

.three-back {
    background-color: #FCFC;
    color: black;
    text-shadow: 2px 2px white;
    transform: rotateY(180deg);
}

.four {
    background-color: transparent;
    width: 150px;
    height: 150px;
    perspective: 1000px;
    position: absolute;
    top: 295px;
    left: 500px;
}

.four-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.four:hover .four-inner {
    transform: rotateY(180deg);
}

.four-front,
.four-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.four-front {
    background-color: #bbb;
    color: black;
}

.four-back {
    background-color: #FCFC;
    color: black;
    text-shadow: 2px 2px white;
    transform: rotateY(180deg);
}

/* sidep */
.pro1 {
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    height: 250px;
    width: 40%;
    margin: 5px 1% 5px 1%;
    float: left;
    position: absolute;
    text-align: center;
    overflow: hidden;
    transition: 1.5s;
    cursor: pointer;
    position: fixed;
    bottom: 377px;
    left: 480px;
    color: black;
    background-color: white;
    box-shadow: 5px 5px #888888;
}

.pro1:hover {
    background-color: rgba(172, 223, 135, 1);
    cursor: pointer;
}

h2 {
    color: #FCFC;
    text-shadow: 1px 1px black;
}

/* contact */
p.contacts {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: fixed;
    bottom: 31px;
    left: 350px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: relative;
}

.socials {
    list-style: none;
    padding-top: 550px;
    padding-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: relative;
}

.socials li {
    margin: 0 70px;
}

.socials a {
    text-decoration: none;
    color: black;
}

.socials a i {
    font-size: 1.6rem;
    transition: color 0.4s ease;
}

.socials a:hover i {
    color: #acdf87;
    transform: scale(1.3);
}